﻿@model CustomerReview.Models.OfficeContentModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Latest updates and statistic charts">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <link href="~/assets/demo/default/base/style.bundle.css" rel="stylesheet" />
    <link href="~/Content/Custom.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <style>
        .font-style {
            font-size: 20px !important;
            font-family: Roboto,"Open Sans","Helvetica Neue",Arial,Helvetica,sans-serif !important;
            font-weight: 400 !important;
            font-style: normal !important;
            text-transform: none !important;
            line-height: 25px !important;
            text-align: left !important;
            color: #000000 !important;
        }
    </style>
</head>
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <div class="">
            @*<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">*@
            <div class="m-grid__item m-grid__item--fluid m-wrapper">
                <div class="m-content">
                    @if (Model != null)
                    {
                        <div class="">
                            @*<div class="col-md-12">*@
                            @Html.HiddenFor(m => m.Logo)
                            @Html.HiddenFor(m => m.ReviewStarLimit)
                            @Html.HiddenFor(m => m.OfficeId)
                            <div class="m-portlet">
                                <div class="m-portlet__body">
                                    <div class="m-widget15__item">
                                        <div style="text-align:center;">
                                            <a href=" https://veloxmanagement.blob.core.windows.net/office-logo/veloxlogo.png">
                                                <img src=" https://veloxmanagement.blob.core.windows.net/office-logo/veloxlogo.png" />
                                            </a>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <br />
                                    <div class="m-widget15">
                                        <div class="m-widget15__item">
                                            <p class="font-style">
                                                @Html.Raw(HttpUtility.HtmlDecode(Model.BodyText))
                                            </p>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <br />
                                    <div class="m-widget15">
                                        <div class="m-widget15__item">
                                            <div class="clearfix">
                                                <div id="stars">
                                                    <ul>
                                                        <li class="star">
                                                            <div class="link-wrap">
                                                                <a href="#" data-id="@Model.OfficeId" data-starid="5" class="number-status">Great</a>
                                                            </div>
                                                        </li>
                                                        <li class="star">
                                                            <div class="link-wrap">
                                                                <a href="#" data-id="@Model.OfficeId" data-starid="4" class="number-status">Good</a>
                                                            </div>
                                                        </li>
                                                        <li class="star">
                                                            <div class="link-wrap">
                                                                <a href="#" data-id="@Model.OfficeId" data-starid="3" class="number-status">Okay</a>
                                                            </div>
                                                        </li>
                                                        <li class="star">
                                                            <div class="link-wrap">
                                                                <a href="#" data-id="@Model.OfficeId" data-starid="2" class="number-status">Subpar</a>
                                                            </div>
                                                        </li>
                                                        <li class="star">
                                                            <div class="link-wrap">
                                                                <a href="#" data-id="@Model.OfficeId" data-starid="1" class="number-status">Bad</a>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade in" tabindex="-1" role="dialog" id="responsiveModel">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="largeModel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>
    <script src="~/assets/vendors/base/vendors.bundle.js"></script>
    <script src="~/assets/demo/default/base/scripts.bundle.js"></script>
    <script src="~/assets/app/js/dashboard.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        $('.number-status').click(function (e) {
            var obj = this;
            if(@Model.ReviewStarLimit != null){
                if (@Model.ReviewStarLimit == $(obj).attr('data-starid') || @Model.ReviewStarLimit<$(obj).attr('data-starid')) {
                    //$("#rating").val($(obj).attr('data-starid'));
                    StarSocialReview($(obj).attr('data-id'));
                }
                else{
                    var starID=$(obj).attr('data-starid');
                    Starlayout(starID);
                }
                return false;
            }
            return false;
        });

        function StarSocialReview(dataid) {
            $.ajax({
                url: "@Url.Action("StarSocialreviewlink", "SocialMediaForm")",
                type: "GET",
                data: { officeId: dataid },
                cache: false,
                beforsend: function () {

                },
                success: function (data) {
                    $("#largeModel").find(".modal-content").html(data);
                    $("#largeModel").modal('show');
                },
                complete: function () {

                },
                error: function () {

                }
            });
        }

        function Starlayout(starID){
               $.ajax({
                url:"@Url.Action("Customerfeedback","SocialMediaForm")",
                type: "GET",
                data: {rating:starID},
                cache: false,
                beforeSend: function () {
                },
                success: function (data) {
                    $("#largeModel").find(".modal-content").html(data);
                    $("#largeModel").modal('show');
                },
                complete: function () {
                },
                error: function () {
                }
            });
        }
    </script>
</body>
</html>
