﻿@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

p {
    margin: 0.5em 0;
}

ul, ol {
    margin: 0.5em 0 0.5em 2em;
}

    ul li, ol li {
        margin: 0.5em 0;
    }

iframe {
    border: 0;
}

.col-md-0 {
    float: none;
    width: auto;
}

.container {
    position: relative;
    height: 100%;
}

.clear {
    float: none;
    clear: both;
}

.alert {
    margin: 10px;
}

    .alert p {
        margin: 0;
    }

.vcard {
    clear: both;
    line-height: 100%;
    font-size: 14px;
    padding: 10px 0;
    text-align: left;
}

    .vcard .fn, .vcard .org, .vcard .adr, .vcard .street-address, .vcard .tel {
        display: block;
    }

    .vcard .fn {
        font-weight: bold;
    }

    .vcard .org {
        font-style: italic;
    }

    .vcard .tel {
        font-weight: bold;
    }

.module, .aside {
    *zoom: 1;
    margin-bottom: 10px;
}

    .module:before, .aside:before, .module:after, .aside:after {
        display: table;
        content: "";
    }

    .module:after, .aside:after {
        clear: both;
    }

    .module.file, .aside.file {
        margin: 30px 20% 0;
        padding: 0 20px 20px 20px;
        border: 3px dashed;
        -webkit-border-radius: 15px;
        -khtml-border-radius: 15px;
        -moz-border-radius: 15px;
        -o-border-radius: 15px;
        border-radius: 15px;
    }

        .module.file .attachment, .aside.file .attachment {
            text-align: center;
        }

h1, h2, h3, h4, h5, h6 {
    line-height: 120%;
}

h1, h2, h3 {
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    font-weight: normal;
}

h4, h5, h6 {
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

/*body, p, blockquote, pre, abbr, acronym, address, big, cite, code, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font-family: Roboto,"Open Sans","Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 150%;
}*/

.map-container {
    text-align: center;
    padding: 20px;
}

    .map-container #mapdefault, .map-container #mapmodal {
        margin: 0 auto;
        width: auto;
        height: 480px;
        border: 1px solid #aaa;
    }

    .map-container #mapmodal {
        height: 240px;
    }

form label {
    font-size: 12px;
    font-weight: bold;
    display: block;
}

    form label.error, form label.warning {
        color: #d64;
    }

    form label.success {
        color: #4a6;
    }

form input, form textarea, form textarea#content {
    max-width: 100%;
    padding: 3px 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    margin: 0;
}

    form input.error, form textarea.error, form textarea#content.error {
        border: 1px solid #b94a48 !important;
        background-color: #f2dede !important;
        color: #d64 !important;
    }

    form input.success, form textarea.success, form textarea#content.success {
        border: 1px solid #468847 !important;
        background-color: #dff0d8 !important;
        color: #4a6 !important;
    }

    form input[type="text"], form input[type="email"], form input[type="password"] {
        height: 32px;
        width: 90%;
    }

form textarea {
    height: 120px;
    width: 90%;
}

form .footer, form .modal-footer {
    text-align: center;
}

    form .footer input, form .modal-footer input {
        width: auto;
        height: auto;
        display: inline-block;
    }

.contact-form input[name="message"] {
    padding: 5px !important;
    height: 90px;
}

.custom-form .column {
    width: 240px;
    float: left;
    margin-right: 10px;
}

.custom-form label {
    font-size: 14px;
}

.custom-form input {
    margin-top: 0 !important;
}

.custom-form .address2 label {
    display: none;
}

.ribbon-wrapper {
    width: 135px;
    height: 135px;
    overflow: hidden;
    position: absolute !important;
    top: -3px;
    left: -3px;
    z-index: 9999;
}

    .ribbon-wrapper .ribbon {
        display: block;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        position: relative;
        padding: 5px 0;
        left: -46px;
        top: 36px;
        width: 200px;
        -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.33);
        -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.33);
        -o-box-shadow: 1px 1px 2px rgba(0,0,0,0.33);
        box-shadow: 1px 1px 2px rgba(0,0,0,0.33);
    }

        .ribbon-wrapper .ribbon:before, .ribbon-wrapper .ribbon:after {
            content: "";
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            position: absolute;
            bottom: -3px;
            width: 3px;
        }

        .ribbon-wrapper .ribbon:before {
            right: 0;
        }

        .ribbon-wrapper .ribbon:after {
            left: 0;
        }

.field {
    margin: 5px;
}

#multilingual {
    text-align: right;
}

    #multilingual ul {
        list-style: none;
        list-style-type: none;
        display: block;
        margin: 0;
        padding: 0;
    }

        #multilingual ul li {
            list-style: none;
            list-style-image: none;
            display: block;
            position: relative;
            float: left;
            margin: 0;
            padding: 0;
            text-align: center;
            border-top: none;
            border-bottom: none;
        }

    #multilingual ul {
        display: inline-block;
    }

        #multilingual ul li.active {
            font-weight: bold;
        }

        #multilingual ul a {
            font-size: 11px !important;
            display: block;
            float: left;
            line-height: 100%;
            text-decoration: none;
            border: 4px solid transparent;
        }

            #multilingual ul a:hover, #multilingual ul .hover > a, #multilingual ul li.active a {
                border-color: #dddddd;
            }

.recaptcha-container {
    text-align: center;
    padding-top: 10px;
    min-height: 95px;
}

    .recaptcha-container * {
        display: inline-block;
    }

[class^="locale-"], [class*=" locale-"] {
    display: inline-block;
    width: 18px;
    height: 12px;
    line-height: 12px;
    vertical-align: text-top;
    background-image: url("/assets/locales_spritemap.png?v=1522448388634");
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -3000px;
}

.locale-en {
    background-position: 0px 0px;
}

.locale-da {
    background-position: 0 -12px;
}

.locale-de {
    background-position: 0 -24px;
}

.locale-es {
    background-position: 0 -36px;
}

.locale-fr {
    background-position: 0 -48px;
}

.locale-it {
    background-position: 0 -60px;
}

.locale-nl {
    background-position: 0 -72px;
}

.locale-pl {
    background-position: 0 -84px;
}

.locale-pt {
    background-position: 0 -96px;
}

.locale-ro {
    background-position: 0 -108px;
}

[class^="smicon-"], [class*=" smicon-"] {
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    vertical-align: text-top;
    background-image: url("../Images/stylesheet-no-repeat.png");
    background-repeat: no-repeat;
    background-color: #768696;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin-left: 2px;
    overflow: hidden;
}

.smicon-googleplus {
    background-color: #E0453D;
    background-position: -900px -90px;
}

.smicon-yahoo {
    background-color: #7B0099;
    background-position: -900px -105px;
}

.smicon-facebook {
    background-color: #3B5998;
    background-position: -900px -120px;
}

.smicon-twitter {
    background-color: #00B4E7;
    background-position: -900px -135px;
}

.smicon-linkedin {
    background-color: #0073B2;
    background-position: -900px -150px;
}

.smicon-live {
    background-position: -900px -165px;
}

.smicon-myspace {
    background-position: -900px -180px;
}

.smicon-aol {
    background-color: #000000;
    background-position: -900px -195px;
}

.smicon-openid {
    background-color: #fc8131;
    background-position: -900px -210px;
}

.smicon-none {
    background-color: #39b54a;
    background-position: -900px -225px;
    width: 100px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    height: 12px;
    line-height: 12px;
}

#field-url {
    display: none;
}

#contact-modal-blurb, #modal-contact-module .aside {
    border-width: 1px 1px 3px;
    border-style: solid;
}

#contact-modal-blurb {
    text-align: left;
}

    #contact-modal-blurb .notes {
        float: left;
        width: 65%;
        margin: 10px;
    }

        #contact-modal-blurb .notes p {
            margin: 0;
        }

    #contact-modal-blurb .notes, #contact-modal-blurb p {
        font-size: 16px;
        line-height: 19px;
    }

    #contact-modal-blurb .link {
        float: left;
        width: 25%;
        margin: 10px;
        display: block;
        text-align: center;
    }

#super-modal #contact-modal-blurb .notes {
    margin: 0 10px;
    width: 60%;
}

    #super-modal #contact-modal-blurb .notes p {
        margin: 0.5em 0;
    }

#super-modal #contact-modal-blurb .link {
    width: 25%;
}

#modal-contact-module {
    text-align: left;
}

    #modal-contact-module .modal-header .title {
        text-align: left;
        display: block;
    }

    #modal-contact-module .modal-header #message {
        margin: 15px 30px 15px 15px;
        text-align: left;
        font-size: 20px;
        font-family: Roboto,"Open Sans","Helvetica Neue",Arial,Helvetica,sans-serif;
        font-weight: normal;
        font-style: normal;
        line-height: 100%;
        text-transform: none;
        line-height: 25px;
    }

        #modal-contact-module .modal-header #message body, #modal-contact-module .modal-header #message p, #modal-contact-module .modal-header #message blockquote, #modal-contact-module .modal-header #message pre, #modal-contact-module .modal-header #message abbr, #modal-contact-module .modal-header #message acronym, #modal-contact-module .modal-header #message address, #modal-contact-module .modal-header #message big, #modal-contact-module .modal-header #message cite, #modal-contact-module .modal-header #message code, #modal-contact-module .modal-header #message center, #modal-contact-module .modal-header #message dl, #modal-contact-module .modal-header #message dt, #modal-contact-module .modal-header #message dd, #modal-contact-module .modal-header #message ol, #modal-contact-module .modal-header #message ul, #modal-contact-module .modal-header #message li, #modal-contact-module .modal-header #message fieldset, #modal-contact-module .modal-header #message form, #modal-contact-module .modal-header #message label, #modal-contact-module .modal-header #message legend, #modal-contact-module .modal-header #message table, #modal-contact-module .modal-header #message caption, #modal-contact-module .modal-header #message tbody, #modal-contact-module .modal-header #message tfoot, #modal-contact-module .modal-header #message thead, #modal-contact-module .modal-header #message tr, #modal-contact-module .modal-header #message th, #modal-contact-module .modal-header #message td, #modal-contact-module .modal-header #message article, #modal-contact-module .modal-header #message aside, #modal-contact-module .modal-header #message canvas, #modal-contact-module .modal-header #message details, #modal-contact-module .modal-header #message embed, #modal-contact-module .modal-header #message figure, #modal-contact-module .modal-header #message figcaption, #modal-contact-module .modal-header #message footer, #modal-contact-module .modal-header #message header, #modal-contact-module .modal-header #message hgroup, #modal-contact-module .modal-header #message menu, #modal-contact-module .modal-header #message nav, #modal-contact-module .modal-header #message output, #modal-contact-module .modal-header #message ruby, #modal-contact-module .modal-header #message section, #modal-contact-module .modal-header #message summary, #modal-contact-module .modal-header #message time, #modal-contact-module .modal-header #message mark, #modal-contact-module .modal-header #message audio, #modal-contact-module .modal-header #message video {
            text-align: left;
            font-size: 20px;
            font-family: Roboto,"Open Sans","Helvetica Neue",Arial,Helvetica,sans-serif;
            font-weight: normal;
            font-style: normal;
            line-height: 100%;
            text-transform: none;
        }

        #modal-contact-module .modal-header #message p {
            line-height: 25px;
        }

    #modal-contact-module .modal-body .field-label {
        display: none;
    }

    #modal-contact-module .modal-body #field-message .field-label {
        display: block;
    }

    #modal-contact-module .modal-body #field-message textarea {
        height: 120px;
        resize: none;
    }

    #modal-contact-module .modal-body #field-antispam .field-label {
        display: block;
    }

    #modal-contact-module .modal-body #field-submit {
        text-align: center;
        padding-top: 20px;
    }

    #modal-contact-module .modal-body .aside .notes {
        margin: 10px;
    }

    #modal-contact-module .modal-body .aside .notes, #modal-contact-module .modal-body .aside p {
        font-size: 14px;
        line-height: 15px;
    }

.review-form-container {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ddd;
}

.review-form {
    text-align: left;
}

    .review-form .footer {
        padding-top: 20px;
    }

    .review-form .field {
        margin: 10px 0 0 0;
    }

    .review-form .field-label {
        font-size: 18px;
        font-weight: 300;
    }

    .review-form #field-content textarea {
        width: 90%;
        height: 120px;
        padding: 5px;
        margin: 0;
        resize: none;
        border: 1px solid #ccc;
        text-align: left;
    }

    .review-form #field-url, .review-form #field-date {
        display: none;
    }

    .review-form #field-submit {
        text-align: center;
        margin-top: 20px;
    }

    .review-form .rating, .review-form [class^="rating-"], .review-form [class*=" rating-"] {
        position: relative;
        overflow: hidden;
        display: inline-block;
        width: 300px;
    }

        .review-form .rating .rating-star, .review-form [class^="rating-"] .rating-star, .review-form [class*=" rating-"] .rating-star, .review-form .rating:hover .rating-star, .review-form [class^="rating-"]:hover .rating-star, .review-form [class*=" rating-"]:hover .rating-star {
            float: right;
            display: block;
            width: 60px;
            height: 60px;
            background: url("/assets/stars-md.png") 0 -60px;
        }

        .review-form .rating .rating-input, .review-form [class^="rating-"] .rating-input, .review-form [class*=" rating-"] .rating-input {
            position: absolute;
            left: 0px;
            top: -50px;
        }

            .review-form .rating .rating-input:checked ~ .rating-star, .review-form [class^="rating-"] .rating-input:checked ~ .rating-star, .review-form [class*=" rating-"] .rating-input:checked ~ .rating-star {
                background-position: 0 0;
            }

        .review-form .rating:hover .rating-star:hover, .review-form [class^="rating-"]:hover .rating-star:hover, .review-form [class*=" rating-"]:hover .rating-star:hover, .review-form .rating:hover .rating-star:hover ~ .rating-star, .review-form [class^="rating-"]:hover .rating-star:hover ~ .rating-star, .review-form [class*=" rating-"]:hover .rating-star:hover ~ .rating-star {
            background-position: 0 0;
        }

    .review-form .public-review-terms {
        font-size: small;
        line-height: 120%;
        margin: 20px 10% 10px;
        text-indent: -15px;
    }

        .review-form .public-review-terms label {
            display: inline;
        }

.modal .review-form-container {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
}

.modal .review-form .aside {
    background: #EEE;
    width: 200px;
    height: 100%;
    float: right;
    padding: 10px;
    font-size: 14px;
    font-weight: normal;
}

    .modal .review-form .aside aside {
        font-size: 14px;
        font-weight: normal;
    }

.modal .review-form .field-label {
    display: block;
    font-size: 14px;
    font-weight: normal;
}

.tools {
    text-align: right;
}

    .tools .copy-button, .tools .select-button {
        padding: 1px 5px 0;
        -webkit-border-radius: 15px;
        -khtml-border-radius: 15px;
        -moz-border-radius: 15px;
        -o-border-radius: 15px;
        border-radius: 15px;
        font-size: 14px;
    }

.lead textarea {
    width: 100%;
}

@media (max-width: 767px) {
    #super-container .modal .review-form .aside {
        width: auto;
        height: auto;
        float: none;
    }
}

.aggregate {
    padding: 10px;
    margin: 10px;
}

.aggregate-text {
    font-size: 12px;
    opacity: 0.67;
}

div.review {
    padding: 15px 20px;
    margin: 0 5px 10px;
    background: #FFFFFF;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    -o-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    -webkit-border-radius: 18px;
    -khtml-border-radius: 18px;
    -moz-border-radius: 18px;
    -o-border-radius: 18px;
    border-radius: 18px;
    clear: both;
}

    div.review .review-meta {
        margin-bottom: 15px;
    }

        div.review .review-meta .review-date {
            font-size: 14px;
            opacity: 0.67;
            display: inline-block;
            margin-right: 5px;
            vertical-align: bottom;
        }

        div.review .review-meta .review-rating {
            display: inline-block;
        }

    div.review .review-text {
        color: #333333;
        padding: 5px 0 15px 30px;
        background: transparent url("/assets/lquo.png?v=1522448388648") left top no-repeat;
        overflow: visible;
    }

        div.review .review-text .review-text-inner {
            display: inline;
            padding: 0 30px 5px 0;
            background: transparent url("/assets/rquo.png?v=1522448388648") right bottom no-repeat;
            overflow: visible;
        }

        div.review .review-text .review-text-inner, div.review .review-text p {
            font-size: 16px;
            line-height: 20px;
            font-style: italic;
        }

        div.review .review-text p {
            margin: 0 0 1em;
            padding: 0;
        }

            div.review .review-text p:last-child {
                display: inline;
            }

    div.review .review-attribution {
        padding: 10px 0;
    }

        div.review .review-attribution .review-picture {
            width: 40px;
            height: 40px;
            line-height: 40px;
            overflow: hidden;
            text-align: center;
            font-weight: 100;
            font-size: 18px;
            color: #fff;
            background-color: #ddd;
            -webkit-border-radius: 20px;
            -khtml-border-radius: 20px;
            -moz-border-radius: 20px;
            -o-border-radius: 20px;
            border-radius: 20px;
            float: left;
            margin: -12px -8px 0 0;
        }

            div.review .review-attribution .review-picture img {
                vertical-align: top;
            }

        div.review .review-attribution .review-source {
            float: left;
            margin-right: 5px;
        }

        div.review .review-attribution .review-name {
            font-size: 16px;
            font-weight: bold;
            display: inline;
            z-index: 1;
        }

    div.review .review-link {
        display: inline;
        font-size: 14px;
    }

    div.review .actions .action-delete {
        display: none;
    }

[class^="star-"], [class*=" star-"] {
    display: inline-block;
    vertical-align: text-top;
    background-image: url("../Images/stylesheet-no-repeat.png");
}

[class^="star-sm"], [class*=" star-sm"] {
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.star-sm {
    background-position: -730px -275px;
}

.star-sm-off {
    background-position: -750px -275px;
}

.star-sm-half {
    background-position: -770px -275px;
}

[class^="star-md"], [class*=" star-md"] {
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.star-md {
    background-position: -800px -320px;
}

.star-md-off {
    background-position: -840px -320px;
}

.star-md-half {
    background-position: -880px -320px;
}

[class^="star-lg"], [class*=" star-lg"] {
    width: 60px;
    height: 60px;
    line-height: 60px;
}

.star-lg {
    background-position: -800px -250px;
}

.star-lg-off {
    background-position: -860px -250px;
}

.star-lg-half {
    background-position: -920px -250px;
}

.flexslider {
    margin: 0 !important;
    padding: 0 !important;
    background: transparent !important;
    border: none !important;
}

@media (max-width: 767px) {
    [class^="star-lg"], [class*=" star-lg"] {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    .star-lg {
        background-position: -800px -320px;
    }

    .star-lg-off {
        background-position: -840px -320px;
    }

    .star-lg-half {
        background-position: -880px -320px;
    }
}

#spinny {
    background-image: url("/assets/spinner.gif");
    background-position: -9999px -9999px;
    background-repeat: no-repeat;
}

.wrapper-status {
    display: inline-block;
    position: relative;
}

    .wrapper-status [class^="status-"], .wrapper-status [class*=" status-"] {
        padding-left: 35px !important;
    }

    .wrapper-status .spinner {
        display: block;
        width: 28px;
        height: 28px;
        background: #000 url("/assets/loading_28px_bg000000.gif") 0 0 no-repeat;
        -webkit-border-radius: 14px;
        -khtml-border-radius: 14px;
        -moz-border-radius: 14px;
        -o-border-radius: 14px;
        border-radius: 14px;
        position: absolute !important;
        left: 5px;
        top: 50%;
        margin-top: -14px;
    }

.wrapper-status-sm {
    display: inline-block;
    position: relative;
}

    .wrapper-status-sm [class^="status-"], .wrapper-status-sm [class*=" status-"] {
        padding-left: 25px !important;
    }

    .wrapper-status-sm .spinner {
        display: block;
        width: 18px;
        height: 18px;
        background: #000 url("/assets/loading_18px_bg000000.gif") 0 0 no-repeat;
        -webkit-border-radius: 9px;
        -khtml-border-radius: 9px;
        -moz-border-radius: 9px;
        -o-border-radius: 9px;
        border-radius: 9px;
        position: absolute !important;
        left: 5px;
        top: 50%;
        margin-top: -9px;
    }

#spinner-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: #FFF;
    opacity: .33;
    z-index: 9999;
}

    #spinner-content .spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 84px;
        height: 84px;
        margin: -42px auto auto -42px;
        background: #fff url("/assets/loading_84px_bgFFFFFF.gif") left top no-repeat;
    }

#thumbs {
    margin: 20px auto;
    text-align: center;
}

    #thumbs ul {
        list-style: none;
        list-style-type: none;
        display: block;
        margin: 0;
        padding: 0;
    }

        #thumbs ul li {
            list-style: none;
            list-style-image: none;
            float: none;
            text-align: left;
            margin: 0;
            padding: 0;
        }

    #thumbs ul {
        display: inline-block;
    }

        #thumbs ul li {
            display: block;
            float: left;
            text-align: center;
            cursor: pointer;
            margin-bottom: 10px;
            margin-right: 10px;
        }

            #thumbs ul li.last {
                margin-right: 0;
            }

            #thumbs ul li .link-wrap {
                display: inline-block;
            }

                #thumbs ul li .link-wrap a {
                    display: block;
                    width: 275px;
                    padding: 20px;
                }

            #thumbs ul li:hover .link-wrap, #thumbs ul li.hover .link-wrap {
                background-image: none;
            }

    #thumbs [class^="thumb-"], #thumbs [class*=" thumb-"] {
        display: block;
        clear: both;
        margin: auto;
        width: 120px;
        height: 140px;
        line-height: 140px;
        vertical-align: text-top;
        background-image: url("../Images/stylesheet-no-repeat.png");
        background-repeat: no-repeat;
        overflow: hidden;
    }

    #thumbs .thumb-up {
        background-position: 0 -110px;
    }

    #thumbs .thumb-down {
        background-position: -150px -110px;
    }

#faces {
    margin: 20px auto;
    text-align: center;
}

    #faces ul {
        list-style: none;
        list-style-type: none;
        display: block;
        margin: 0;
        padding: 0;
    }

        #faces ul li {
            list-style: none;
            list-style-image: none;
            float: none;
            text-align: left;
            margin: 0;
            padding: 0;
        }

    #faces ul {
        display: inline-block;
    }

        #faces ul li {
            display: block;
            float: left;
            text-align: center;
            cursor: pointer;
            margin-bottom: 10px;
            margin-right: 10px;
        }

            #faces ul li.last {
                margin-right: 0;
            }

            #faces ul li .link-wrap {
                display: inline-block;
            }

                #faces ul li .link-wrap a {
                    display: block;
                    width: 175px;
                    padding: 20px;
                }

            #faces ul li:hover .link-wrap, #faces ul li.hover .link-wrap {
                background-image: none;
            }

    #faces [class^="face-"], #faces [class*=" face-"] {
        display: block;
        clear: both;
        margin: auto;
        width: 140px;
        height: 140px;
        line-height: 140px;
        vertical-align: text-top;
        background-image: url("../Images/stylesheet-no-repeat.png");
        background-repeat: no-repeat;
        overflow: hidden;
    }

    #faces .face-positive {
        background-position: -300px -110px;
    }

    #faces .face-neutral {
        background-position: -440px -110px;
    }

    #faces .face-negative {
        background-position: -580px -110px;
    }

#super-modal #faces ul li .link-wrap a {
    width: 160px;
    padding: 5px 0;
}

#stars {
    position: relative;
    overflow: hidden;
    margin: 20px auto;
    text-align: center;
}

    #stars ul {
        list-style: none;
        list-style-type: none;
        display: block;
        margin: 0;
        padding: 0;
    }

        #stars ul li {
            list-style: none;
            list-style-image: none;
            float: none;
            text-align: left;
            margin: 0;
            padding: 0;
        }

    #stars ul {
        display: inline-block;
    }

        #stars ul li {
            display: block;
            float: right;
            text-align: center;
            cursor: pointer;
            background-image: url("../Images/stylesheet-no-repeat.png");
            background-repeat: no-repeat;
            background-position: -120px -250px;
        }

            #stars ul li .link-wrap a {
                box-sizing: content-box;
                width: 120px;
                height: 110px;
                line-height: 110px;
                padding-top: 60%;
                z-index: -1;
                display: block;
                vertical-align: text-top;
                text-indent: -3000px;
                font-family: Roboto,"Open Sans","Helvetica Neue",Arial,Helvetica,sans-serif;
                font-size: 18px;
                font-weight: 300;
            }

                #stars ul li .link-wrap a:hover, #stars ul li .link-wrap a.hover {
                    background-position: 0 -250px;
                    text-indent: 0;
                }

        #stars ul:hover .star:hover, #stars ul.hover .star:hover, #stars ul:hover .star:hover ~ .star, #stars ul.hover .star:hover ~ .star {
            background-position: 0 -250px;
            text-indent: 0;
            overflow: visible;
        }

#super-modal #stars ul li {
    background-position: -310px -250px;
}

    #super-modal #stars ul li .link-wrap a {
        width: 60px;
        height: 55px;
        line-height: 55px;
        font-size: 75%;
    }

        #super-modal #stars ul li .link-wrap a:hover, #super-modal #stars ul li .link-wrap a.hover {
            background-position: -250px -250px;
        }

#super-modal #stars ul:hover .star:hover, #super-modal #stars ul.hover .star:hover, #super-modal #stars ul:hover .star:hover ~ .star, #super-modal #stars ul.hover .star:hover ~ .star {
    background-position: -250px -250px;
}

#hearts {
    position: relative;
    overflow: hidden;
    margin: 20px auto;
    text-align: center;
}

    #hearts ul {
        list-style: none;
        list-style-type: none;
        display: block;
        margin: 0;
        padding: 0;
    }

        #hearts ul li {
            list-style: none;
            list-style-image: none;
            float: none;
            text-align: left;
            margin: 0;
            padding: 0;
        }

    #hearts ul {
        display: inline-block;
    }

        #hearts ul li {
            padding: 2px;
            display: block;
            float: right;
            text-align: center;
            cursor: pointer;
            background-image: url("../Images/stylesheet-no-repeat.png");
            background-repeat: no-repeat;
            background-position: -490px -250px;
        }

            #hearts ul li .link-wrap a {
                box-sizing: content-box;
                width: 110px;
                height: 100px;
                line-height: 100px;
                padding-top: 60%;
                z-index: -1;
                display: block;
                vertical-align: text-top;
                text-indent: -3000px;
            }

                #hearts ul li .link-wrap a:hover, #hearts ul li .link-wrap a.hover {
                    background-position: -375px -250px;
                    text-indent: 0;
                }

        #hearts ul:hover .heart:hover, #hearts ul.hover .heart:hover, #hearts ul:hover .heart:hover ~ .heart, #hearts ul.hover .heart:hover ~ .heart {
            background-position: -375px -250px;
            text-indent: 0;
            overflow: visible;
        }

#super-modal #hearts ul li {
    background-position: -670px -250px;
}

    #super-modal #hearts ul li .link-wrap a {
        width: 55px;
        height: 50px;
        line-height: 50px;
        font-size: 75%;
    }

        #super-modal #hearts ul li .link-wrap a:hover, #super-modal #hearts ul li .link-wrap a.hover {
            background-position: -610px -250px;
        }

#super-modal #hearts ul:hover .heart:hover, #super-modal #hearts ul.hover .heart:hover, #super-modal #hearts ul:hover .heart:hover ~ .heart, #super-modal #hearts ul.hover .heart:hover ~ .heart {
    background-position: -610px -250px;
}

@media (max-width: 767px) {
    #super-container #thumbs ul, .modal-scrollable #thumbs ul, #super-container #faces ul, .modal-scrollable #faces ul {
        display: block;
    }

        #super-container #thumbs ul li, .modal-scrollable #thumbs ul li, #super-container #faces ul li, .modal-scrollable #faces ul li {
            width: auto;
            float: none;
            margin-right: 0;
        }

            #super-container #thumbs ul li .link-wrap, .modal-scrollable #thumbs ul li .link-wrap, #super-container #faces ul li .link-wrap, .modal-scrollable #faces ul li .link-wrap {
                width: auto;
            }

                #super-container #thumbs ul li .link-wrap a, .modal-scrollable #thumbs ul li .link-wrap a, #super-container #faces ul li .link-wrap a, .modal-scrollable #faces ul li .link-wrap a {
                    width: auto;
                }

    #super-container #stars, .modal-scrollable #stars {
        display: inline-block;
    }

        #super-container #stars ul li, .modal-scrollable #stars ul li {
            background-position: -310px -250px;
        }

            #super-container #stars ul li .link-wrap a, .modal-scrollable #stars ul li .link-wrap a {
                width: 60px;
                height: 55px;
                line-height: 55px;
                font-size: 75%;
            }

                #super-container #stars ul li .link-wrap a:hover, .modal-scrollable #stars ul li .link-wrap a:hover, #super-container #stars ul li .link-wrap a.hover, .modal-scrollable #stars ul li .link-wrap a.hover {
                    background-position: -250px -250px;
                }

        #super-container #stars ul:hover .star:hover, .modal-scrollable #stars ul:hover .star:hover, #super-container #stars ul.hover .star:hover, .modal-scrollable #stars ul.hover .star:hover, #super-container #stars ul:hover .star:hover ~ .star, .modal-scrollable #stars ul:hover .star:hover ~ .star, #super-container #stars ul.hover .star:hover ~ .star, .modal-scrollable #stars ul.hover .star:hover ~ .star {
            background-position: -250px -250px;
        }

    #super-container #hearts, .modal-scrollable #hearts {
        display: inline-block;
    }

        #super-container #hearts ul li, .modal-scrollable #hearts ul li {
            background-position: -670px -250px;
        }

            #super-container #hearts ul li .link-wrap a, .modal-scrollable #hearts ul li .link-wrap a {
                width: 55px;
                height: 50px;
                line-height: 50px;
                font-size: 75%;
            }

                #super-container #hearts ul li .link-wrap a:hover, .modal-scrollable #hearts ul li .link-wrap a:hover, #super-container #hearts ul li .link-wrap a.hover, .modal-scrollable #hearts ul li .link-wrap a.hover {
                    background-position: -610px -250px;
                }

        #super-container #hearts ul:hover .heart:hover, .modal-scrollable #hearts ul:hover .heart:hover, #super-container #hearts ul.hover .heart:hover, .modal-scrollable #hearts ul.hover .heart:hover, #super-container #hearts ul:hover .heart:hover ~ .heart, .modal-scrollable #hearts ul:hover .heart:hover ~ .heart, #super-container #hearts ul.hover .heart:hover ~ .heart, .modal-scrollable #hearts ul.hover .heart:hover ~ .heart {
            background-position: -610px -250px;
        }
}

.loggedIn {
    border: 1px solid #1bbb47 !important;
}

    .loggedIn:before {
        position: absolute;
        top: -5px;
        display: block;
        width: 100%;
        font-size: x-small;
        text-align: center;
        color: #1bbb47;
        content: "You're logged in \25BE";
    }

body .smicons {
    text-align: center;
    pointer-events: none;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    top: auto;
    height: 15px;
    opacity: .6;
    filter: alpha(opacity=60);
}

    body .smicons::before {
        content: 'Login with';
        font-size: 9px;
        line-height: 15px;
        vertical-align: text-top;
    }

    body .smicons.none::before {
        content: '';
    }

body .modal form {
    margin-bottom: 0;
}

    body .modal form input, body .modal form textarea {
        color: #333;
        margin: 0;
    }

        body .modal form input.placeholder, body .modal form textarea.placeholder {
            color: #aaa;
        }

        body .modal form input.error, body .modal form textarea.error {
            border: 1px solid #b94a48;
            background-color: #f2dede;
            color: #d64;
        }

        body .modal form input.success, body .modal form textarea.success {
            border: 1px solid #468847;
            background-color: #dff0d8;
            color: #4a6;
        }

    body .modal form .field {
        margin-bottom: 10px;
    }

body .modal .modal-header .close {
    z-index: 9999;
}

body .modal .modal-footer {
    text-align: center;
}

/*body .modal .link, body .modal button, body .modal input[type="submit"] {
    display: inline-block;
    padding: 4px 10px;
    line-height: 27px;
    margin: 0 2px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-border-radius: 18px;
    -khtml-border-radius: 18px;
    -moz-border-radius: 18px;
    -o-border-radius: 18px;
    border-radius: 18px;
    border-width: 1px 1px 3px;
}*/

    /*body .modal .link:hover, body .modal button:hover, body .modal input[type="submit"]:hover, body .modal .link.hover, body .modal button.hover, body .modal input[type="submit"].hover {
        text-decoration: none;
        cursor: pointer;
    }

    body .modal .link:hover, body .modal button:hover, body .modal input[type="submit"]:hover, body .modal .link.hover, body .modal button.hover, body .modal input[type="submit"].hover {
        border-width: 1px 1px 3px;
        text-decoration: none;
    }*/

body .modal .modal-header {
    text-align: center;
}

    body .modal .modal-header .title {
        display: inline-block;
    }

body .modal .modal-footer {
    text-align: center;
}

body .modal .modal-body .guide p, body .modal .modal-body .guide ul, body .modal .modal-body .guide li {
    font-size: 16px;
}

body .modal .modal-body .guide .guide-share_content label, body .modal .modal-body .guide .guide-share_content textarea {
    margin-left: 10%;
}

body .modal .modal-body .guide .guide-share_content input, body .modal .modal-body .guide .guide-share_content textarea {
    font-weight: bold;
    box-sizing: content-box;
    padding: 3px 6px;
    line-height: 1.42857143;
    background-image: none;
    border: 1px solid #cccccc;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

body .modal .modal-body .guide .guide-share_content input {
    width: 60%;
    margin-left: 5px;
}

body .modal .modal-body .guide .guide-share_content textarea {
    width: 80%;
    height: 120px;
}

body .modal .modal-body .guide .guide-share_content input[readonly="readonly"] {
    font-weight: normal;
    color: #aaaaaa;
    border: 1px solid #aaaaaa;
}

body .modal .modal-body .guide .footer {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

body .modal .outbound-retry-link {
    text-align: center;
}

@media (max-width: 767px) {
    body .modal .guide-review, body .modal .guide-share {
        padding-right: 0 !important;
        background-image: none !important;
    }
}

/*body .link, body .button, body button, body input[type="submit"] {
    display: inline-block;
    padding: 4px 10px;
    line-height: 27px;
    margin: 0 2px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-border-radius: 18px;
    -khtml-border-radius: 18px;
    -moz-border-radius: 18px;
    -o-border-radius: 18px;
    border-radius: 18px;
    border-width: 1px 1px 3px;
}

    body .link:hover, body .button:hover, body button:hover, body input[type="submit"]:hover, body .link.hover, body .button.hover, body button.hover, body input[type="submit"].hover {
        text-decoration: none;
        cursor: pointer;
    }

    body .link:hover, body .button:hover, body button:hover, body input[type="submit"]:hover, body .link.hover, body .button.hover, body button.hover, body input[type="submit"].hover {
        border-width: 1px 1px 3px;
        text-decoration: none;
    }*/

#links ul {
    list-style: none;
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
}

    #links ul li {
        list-style: none;
        list-style-image: none;
        float: none;
        text-align: left;
        margin: 0;
        padding: 0;
    }

#links ul {
    list-style: none;
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
}

    #links ul li {
        list-style: none;
        list-style-image: none;
        float: none;
        text-align: left;
        margin: 0;
        padding: 0;
    }

#links ul {
    text-align: center;
}

    #links ul li {
        position: relative;
        display: inline-block;
        margin: 0 5px 15px;
        cursor: pointer;
        -webkit-border-radius: 18px;
        -khtml-border-radius: 18px;
        -moz-border-radius: 18px;
        -o-border-radius: 18px;
        border-radius: 18px;
        vertical-align: top;
        width: 125px;
        height: 70px;
    }

        #links ul li.sort-order-0 {
            display: none;
        }

        #links ul li .link-wrap {
            width: 125px;
            height: 70px;
        }

        #links ul li a {
            width: 125px;
            height: 70px;
            background-position: center 10px;
            background-repeat: no-repeat;
        }

        #links ul li:hover, #links ul li.hover {
            -webkit-border-radius: 18px;
            -khtml-border-radius: 18px;
            -moz-border-radius: 18px;
            -o-border-radius: 18px;
            border-radius: 18px;
        }

        #links ul li a {
            position: relative;
            display: block;
            padding: 0;
        }

            #links ul li a:hover .link-text, #links ul li a.hover .link-text {
                text-decoration: underline;
            }

            #links ul li a img {
                height: 50px;
            }

            #links ul li a .link-text {
                position: absolute;
                top: 50%;
                left: 10px;
                right: 10px;
                margin-top: -12.5px;
                font-family: "Open Sans",Arial,Helvetica,sans-serif;
                font-size: 18px;
                font-weight: bold;
                line-height: 18px;
                text-align: center;
                text-decoration: none;
            }

    #links ul.default li {
        width: 250px;
        height: 100px;
    }

        #links ul.default li a {
            top: 0;
            height: 100%;
            width: 100%;
            padding: 0;
            text-indent: 0;
        }

            #links ul.default li a:hover, #links ul.default li a.hover {
                text-decoration: underline;
            }

            #links ul.default li a .link-text {
                position: absolute;
                top: 50%;
                left: 10px;
                right: 10px;
                margin-top: -24px;
                font-family: "Open Sans",Arial,Helvetica,sans-serif;
                font-size: 24px;
                font-weight: bold;
                line-height: 24px;
                text-decoration: none;
            }

    #links ul.default.small li {
        width: 125px;
        height: 70px;
    }

        #links ul.default.small li a {
            padding: 10px 0;
        }

            #links ul.default.small li a .link-text {
                margin-top: -18px;
                font-size: 18px;
                line-height: 18px;
            }

    #links ul.images li {
        width: 250px;
        height: 280px;
        padding: 0;
        -webkit-border-radius: 0 0 0 0;
        -khtml-border-radius: 0 0 0 0;
        -moz-border-radius: 0 0 0 0;
        -o-border-radius: 0 0 0 0;
        border-radius: 0 0 0 0;
        opacity: .5;
        filter: alpha(opacity=50);
        -webkit-transition: all .2s ease 0;
        -moz-transition: all .2s ease 0;
        -o-transition: all .2s ease 0;
        transition: all .2s ease 0;
    }

        #links ul.images li:hover, #links ul.images li.hover {
            opacity: 1;
            filter: alpha(opacity=100);
        }

        #links ul.images li a {
            top: 0;
            height: 100%;
            width: 100%;
            padding: 0;
            text-indent: 0;
        }

            #links ul.images li a:hover, #links ul.images li a.hover {
                text-decoration: underline;
            }

            #links ul.images li a img {
                position: relative;
                height: auto !important;
            }

            #links ul.images li a .link-text {
                position: absolute;
                top: auto;
                bottom: 0;
                left: 10px;
                right: 10px;
                padding: 5px 0 8px;
                font-family: "Open Sans",Arial,Helvetica,sans-serif;
                font-size: 24px;
                font-weight: bold;
                line-height: 24px;
                text-decoration: none;
            }

    #links ul.images.small li {
        width: 125px;
        height: 140px;
    }

        #links ul.images.small li a .link-text {
            padding: 5px 5% 8px;
            font-size: 18px;
            line-height: 18px;
        }

#links .smicons {
    text-align: center;
    position: absolute;
    bottom: -8px;
    left: -1px;
    width: 100%;
    height: 20px;
    overflow: hidden;
    opacity: 1;
    filter: alpha(opacity=100);
    margin: 0;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    -webkit-border-radius: 0 0 18px 18px;
    -khtml-border-radius: 0 0 18px 18px;
    -moz-border-radius: 0 0 18px 18px;
    -o-border-radius: 0 0 18px 18px;
    border-radius: 0 0 18px 18px;
}

    #links .smicons::before {
        content: 'Login w/';
        font-size: 9px;
        line-height: 15px;
        vertical-align: text-top;
        color: #777777;
    }

    #links .smicons.none::before {
        content: '';
    }

#highlights .highlight {
    text-align: center;
}

    #highlights .highlight ul {
        list-style: none;
        list-style-type: none;
        display: block;
        margin: 0;
        padding: 0;
    }

        #highlights .highlight ul li {
            list-style: none;
            list-style-image: none;
            float: none;
            text-align: left;
            margin: 0;
            padding: 0;
        }

    #highlights .highlight ul {
        display: inline-block;
    }

        #highlights .highlight ul li {
            position: relative;
            display: inline-block;
            vertical-align: top;
            cursor: pointer;
        }

            #highlights .highlight ul li .link-wrap {
                display: inline-block;
                width: 250px;
                height: 100px;
            }

            #highlights .highlight ul li:hover .link-wrap, #highlights .highlight ul li.hover .link-wrap {
                background-image: none;
            }

            #highlights .highlight ul li a {
                position: relative;
                display: block;
                height: 100%;
                width: 100%;
                padding: 0;
            }

                #highlights .highlight ul li a:hover .link-text, #highlights .highlight ul li a.hover .link-text {
                    text-decoration: underline;
                }

                #highlights .highlight ul li a .link-text {
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    right: 10px;
                    margin-top: -28px;
                    font-family: "Open Sans",Arial,Helvetica,sans-serif;
                    font-size: 28px;
                    font-weight: bold;
                    line-height: 28px;
                    text-align: center;
                    text-decoration: none;
                }

    #highlights .highlight ul {
        margin: 15px 0;
    }

        #highlights .highlight ul li {
            -webkit-border-radius: 18px;
            -khtml-border-radius: 18px;
            -moz-border-radius: 18px;
            -o-border-radius: 18px;
            border-radius: 18px;
            vertical-align: top;
            width: 300px;
            height: 150px;
        }

            #highlights .highlight ul li .link-wrap {
                width: 300px;
                height: 150px;
            }

            #highlights .highlight ul li a {
                width: 300px;
                height: 150px;
                background-position: center 25px;
                background-repeat: no-repeat;
            }

            #highlights .highlight ul li .link-wrap {
                background: transparent url("/assets/themes/filter/classic/images/stylesheet-repeat-x.png?v=1522448388659") left -20px repeat-x;
            }

#content #message {
    margin: 15px 150px;
}

#modal-header #message {
    margin: 15px 30px 15px 15px;
}

#content #preface, #modal-header #preface, #super-embed #preface, #super-modal #preface {
    font-size: 14px;
}

#content #brand, #modal-header #brand, #super-embed #brand, #super-modal #brand {
    padding: 10px;
}

#content #image, #modal-header #image, #super-embed #image, #super-modal #image, #content #title, #modal-header #title, #super-embed #title, #super-modal #title {
    text-align: center;
}

#content #image, #modal-header #image, #super-embed #image, #super-modal #image {
    margin-top: 20px;
}

#content #logobug, #modal-header #logobug, #super-embed #logobug, #super-modal #logobug, #content #logo, #modal-header #logo, #super-embed #logo, #super-modal #logo {
    margin: 10px;
}

    #content #logobug a, #modal-header #logobug a, #super-embed #logobug a, #super-modal #logobug a, #content #logo a, #modal-header #logo a, #super-embed #logo a, #super-modal #logo a, #content #logobug img, #modal-header #logobug img, #super-embed #logobug img, #super-modal #logobug img, #content #logo img, #modal-header #logo img, #super-embed #logo img, #super-modal #logo img {
        border: none;
        max-width: 100%;
    }

#content #logotype, #modal-header #logotype, #super-embed #logotype, #super-modal #logotype {
    text-align: center;
    font-size: 48px;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-style: normal;
    line-height: 100%;
    text-transform: none;
}

    #content #logotype body, #modal-header #logotype body, #super-embed #logotype body, #super-modal #logotype body, #content #logotype p, #modal-header #logotype p, #super-embed #logotype p, #super-modal #logotype p, #content #logotype blockquote, #modal-header #logotype blockquote, #super-embed #logotype blockquote, #super-modal #logotype blockquote, #content #logotype pre, #modal-header #logotype pre, #super-embed #logotype pre, #super-modal #logotype pre, #content #logotype abbr, #modal-header #logotype abbr, #super-embed #logotype abbr, #super-modal #logotype abbr, #content #logotype acronym, #modal-header #logotype acronym, #super-embed #logotype acronym, #super-modal #logotype acronym, #content #logotype address, #modal-header #logotype address, #super-embed #logotype address, #super-modal #logotype address, #content #logotype big, #modal-header #logotype big, #super-embed #logotype big, #super-modal #logotype big, #content #logotype cite, #modal-header #logotype cite, #super-embed #logotype cite, #super-modal #logotype cite, #content #logotype code, #modal-header #logotype code, #super-embed #logotype code, #super-modal #logotype code, #content #logotype center, #modal-header #logotype center, #super-embed #logotype center, #super-modal #logotype center, #content #logotype dl, #modal-header #logotype dl, #super-embed #logotype dl, #super-modal #logotype dl, #content #logotype dt, #modal-header #logotype dt, #super-embed #logotype dt, #super-modal #logotype dt, #content #logotype dd, #modal-header #logotype dd, #super-embed #logotype dd, #super-modal #logotype dd, #content #logotype ol, #modal-header #logotype ol, #super-embed #logotype ol, #super-modal #logotype ol, #content #logotype ul, #modal-header #logotype ul, #super-embed #logotype ul, #super-modal #logotype ul, #content #logotype li, #modal-header #logotype li, #super-embed #logotype li, #super-modal #logotype li, #content #logotype fieldset, #modal-header #logotype fieldset, #super-embed #logotype fieldset, #super-modal #logotype fieldset, #content #logotype form, #modal-header #logotype form, #super-embed #logotype form, #super-modal #logotype form, #content #logotype label, #modal-header #logotype label, #super-embed #logotype label, #super-modal #logotype label, #content #logotype legend, #modal-header #logotype legend, #super-embed #logotype legend, #super-modal #logotype legend, #content #logotype table, #modal-header #logotype table, #super-embed #logotype table, #super-modal #logotype table, #content #logotype caption, #modal-header #logotype caption, #super-embed #logotype caption, #super-modal #logotype caption, #content #logotype tbody, #modal-header #logotype tbody, #super-embed #logotype tbody, #super-modal #logotype tbody, #content #logotype tfoot, #modal-header #logotype tfoot, #super-embed #logotype tfoot, #super-modal #logotype tfoot, #content #logotype thead, #modal-header #logotype thead, #super-embed #logotype thead, #super-modal #logotype thead, #content #logotype tr, #modal-header #logotype tr, #super-embed #logotype tr, #super-modal #logotype tr, #content #logotype th, #modal-header #logotype th, #super-embed #logotype th, #super-modal #logotype th, #content #logotype td, #modal-header #logotype td, #super-embed #logotype td, #super-modal #logotype td, #content #logotype article, #modal-header #logotype article, #super-embed #logotype article, #super-modal #logotype article, #content #logotype aside, #modal-header #logotype aside, #super-embed #logotype aside, #super-modal #logotype aside, #content #logotype canvas, #modal-header #logotype canvas, #super-embed #logotype canvas, #super-modal #logotype canvas, #content #logotype details, #modal-header #logotype details, #super-embed #logotype details, #super-modal #logotype details, #content #logotype embed, #modal-header #logotype embed, #super-embed #logotype embed, #super-modal #logotype embed, #content #logotype figure, #modal-header #logotype figure, #super-embed #logotype figure, #super-modal #logotype figure, #content #logotype figcaption, #modal-header #logotype figcaption, #super-embed #logotype figcaption, #super-modal #logotype figcaption, #content #logotype footer, #modal-header #logotype footer, #super-embed #logotype footer, #super-modal #logotype footer, #content #logotype header, #modal-header #logotype header, #super-embed #logotype header, #super-modal #logotype header, #content #logotype hgroup, #modal-header #logotype hgroup, #super-embed #logotype hgroup, #super-modal #logotype hgroup, #content #logotype menu, #modal-header #logotype menu, #super-embed #logotype menu, #super-modal #logotype menu, #content #logotype nav, #modal-header #logotype nav, #super-embed #logotype nav, #super-modal #logotype nav, #content #logotype output, #modal-header #logotype output, #super-embed #logotype output, #super-modal #logotype output, #content #logotype ruby, #modal-header #logotype ruby, #super-embed #logotype ruby, #super-modal #logotype ruby, #content #logotype section, #modal-header #logotype section, #super-embed #logotype section, #super-modal #logotype section, #content #logotype summary, #modal-header #logotype summary, #super-embed #logotype summary, #super-modal #logotype summary, #content #logotype time, #modal-header #logotype time, #super-embed #logotype time, #super-modal #logotype time, #content #logotype mark, #modal-header #logotype mark, #super-embed #logotype mark, #super-modal #logotype mark, #content #logotype audio, #modal-header #logotype audio, #super-embed #logotype audio, #super-modal #logotype audio, #content #logotype video, #modal-header #logotype video, #super-embed #logotype video, #super-modal #logotype video {
        text-align: center;
        font-size: 48px;
        font-family: "Open Sans",Arial,Helvetica,sans-serif;
        font-weight: bold;
        font-style: normal;
        line-height: 100%;
        text-transform: none;
    }

    #content #logotype a, #modal-header #logotype a, #super-embed #logotype a, #super-modal #logotype a {
        text-decoration: none;
    }

#content #message, #modal-header #message, #super-embed #message, #super-modal #message {
    text-align: left;
    font-size: 20px;
    font-family: Roboto,"Open Sans","Helvetica Neue",Arial,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    text-transform: none;
    line-height: 25px;
}

    #content #message body, #modal-header #message body, #super-embed #message body, #super-modal #message body, #content #message p, #modal-header #message p, #super-embed #message p, #super-modal #message p, #content #message blockquote, #modal-header #message blockquote, #super-embed #message blockquote, #super-modal #message blockquote, #content #message pre, #modal-header #message pre, #super-embed #message pre, #super-modal #message pre, #content #message abbr, #modal-header #message abbr, #super-embed #message abbr, #super-modal #message abbr, #content #message acronym, #modal-header #message acronym, #super-embed #message acronym, #super-modal #message acronym, #content #message address, #modal-header #message address, #super-embed #message address, #super-modal #message address, #content #message big, #modal-header #message big, #super-embed #message big, #super-modal #message big, #content #message cite, #modal-header #message cite, #super-embed #message cite, #super-modal #message cite, #content #message code, #modal-header #message code, #super-embed #message code, #super-modal #message code, #content #message center, #modal-header #message center, #super-embed #message center, #super-modal #message center, #content #message dl, #modal-header #message dl, #super-embed #message dl, #super-modal #message dl, #content #message dt, #modal-header #message dt, #super-embed #message dt, #super-modal #message dt, #content #message dd, #modal-header #message dd, #super-embed #message dd, #super-modal #message dd, #content #message ol, #modal-header #message ol, #super-embed #message ol, #super-modal #message ol, #content #message ul, #modal-header #message ul, #super-embed #message ul, #super-modal #message ul, #content #message li, #modal-header #message li, #super-embed #message li, #super-modal #message li, #content #message fieldset, #modal-header #message fieldset, #super-embed #message fieldset, #super-modal #message fieldset, #content #message form, #modal-header #message form, #super-embed #message form, #super-modal #message form, #content #message label, #modal-header #message label, #super-embed #message label, #super-modal #message label, #content #message legend, #modal-header #message legend, #super-embed #message legend, #super-modal #message legend, #content #message table, #modal-header #message table, #super-embed #message table, #super-modal #message table, #content #message caption, #modal-header #message caption, #super-embed #message caption, #super-modal #message caption, #content #message tbody, #modal-header #message tbody, #super-embed #message tbody, #super-modal #message tbody, #content #message tfoot, #modal-header #message tfoot, #super-embed #message tfoot, #super-modal #message tfoot, #content #message thead, #modal-header #message thead, #super-embed #message thead, #super-modal #message thead, #content #message tr, #modal-header #message tr, #super-embed #message tr, #super-modal #message tr, #content #message th, #modal-header #message th, #super-embed #message th, #super-modal #message th, #content #message td, #modal-header #message td, #super-embed #message td, #super-modal #message td, #content #message article, #modal-header #message article, #super-embed #message article, #super-modal #message article, #content #message aside, #modal-header #message aside, #super-embed #message aside, #super-modal #message aside, #content #message canvas, #modal-header #message canvas, #super-embed #message canvas, #super-modal #message canvas, #content #message details, #modal-header #message details, #super-embed #message details, #super-modal #message details, #content #message embed, #modal-header #message embed, #super-embed #message embed, #super-modal #message embed, #content #message figure, #modal-header #message figure, #super-embed #message figure, #super-modal #message figure, #content #message figcaption, #modal-header #message figcaption, #super-embed #message figcaption, #super-modal #message figcaption, #content #message footer, #modal-header #message footer, #super-embed #message footer, #super-modal #message footer, #content #message header, #modal-header #message header, #super-embed #message header, #super-modal #message header, #content #message hgroup, #modal-header #message hgroup, #super-embed #message hgroup, #super-modal #message hgroup, #content #message menu, #modal-header #message menu, #super-embed #message menu, #super-modal #message menu, #content #message nav, #modal-header #message nav, #super-embed #message nav, #super-modal #message nav, #content #message output, #modal-header #message output, #super-embed #message output, #super-modal #message output, #content #message ruby, #modal-header #message ruby, #super-embed #message ruby, #super-modal #message ruby, #content #message section, #modal-header #message section, #super-embed #message section, #super-modal #message section, #content #message summary, #modal-header #message summary, #super-embed #message summary, #super-modal #message summary, #content #message time, #modal-header #message time, #super-embed #message time, #super-modal #message time, #content #message mark, #modal-header #message mark, #super-embed #message mark, #super-modal #message mark, #content #message audio, #modal-header #message audio, #super-embed #message audio, #super-modal #message audio, #content #message video, #modal-header #message video, #super-embed #message video, #super-modal #message video {
        text-align: left;
        font-size: 20px;
        font-family: Roboto,"Open Sans","Helvetica Neue",Arial,Helvetica,sans-serif;
        font-weight: 400;
        font-style: normal;
        line-height: 100%;
        text-transform: none;
    }

    #content #message p, #modal-header #message p, #super-embed #message p, #super-modal #message p {
        line-height: 25px;
    }

#content .seal, #modal-header .seal, #super-embed .seal, #super-modal .seal {
    text-align: center;
    font-size: 14px;
}

#modal-footer .seal {
    text-align: center;
    font-size: 14px;
}

#modal-reviews .modal-header #message {
    margin: 15px 30px 15px 15px;
}

.icon-download {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    margin: 0 5px 0 0;
    background-image: url("../Images/stylesheet-no-repeat.png");
    background-position: 0 -60px;
}

.lt-ie10 * {
    border-radius: 0 !important;
}

#reviewstream {
    text-align: left;
}

#reviewstream-footer {
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
}

@media (min-width: 768px) {
    #reviewstream {
        padding: 10px;
    }

   
}

.ig-b- {
    display: inline-block;
}

    .ig-b- img {
        visibility: hidden;
    }

    .ig-b-:hover {
        background-position: 0 -60px;
    }

    .ig-b-:active {
        background-position: 0 -120px;
    }

.ig-b-v-24 {
    width: 137px;
    height: 24px;
    background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .ig-b-v-24 {
        background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png);
        background-size: 160px 178px;
    }
}

#action {
    text-align: center;
    line-height: 0 !important;
}

    #action ul {
        list-style: none;
        list-style-type: none;
        display: block;
        margin: 0;
        padding: 0;
    }

        #action ul li {
            list-style: none;
            list-style-image: none;
            display: block;
            position: relative;
            float: left;
            margin: 0;
            padding: 0;
            text-align: center;
            border-top: none;
            border-bottom: none;
        }

        #action ul li {
            border-left: 1px solid #fff;
            border-right: 1px solid #d1d1d1;
        }

            #action ul li:first-child, #action ul li:first-child a {
                -webkit-border-top-left-radius: 0;
                -moz-border-radius-topleft: 0;
                -o-border-radius-topleft: 0;
                border-top-left-radius: 0;
                -webkit-border-bottom-left-radius: 0;
                -moz-border-radius-bottomleft: 0;
                -o-border-radius-bottomleft: 0;
                border-bottom-left-radius: 0;
                border-left: none;
            }

            #action ul li.first, #action ul li.first a {
                -webkit-border-top-left-radius: 0;
                -moz-border-radius-topleft: 0;
                -o-border-radius-topleft: 0;
                border-top-left-radius: 0;
                -webkit-border-bottom-left-radius: 0;
                -moz-border-radius-bottomleft: 0;
                -o-border-radius-bottomleft: 0;
                border-bottom-left-radius: 0;
                border-left: none;
            }

            #action ul li:last-child, #action ul li:last-child a {
                -webkit-border-top-right-radius: 0;
                -moz-border-radius-topright: 0;
                -o-border-radius-topright: 0;
                border-top-right-radius: 0;
                -webkit-border-bottom-right-radius: 0;
                -moz-border-radius-bottomright: 0;
                -o-border-radius-bottomright: 0;
                border-bottom-right-radius: 0;
                border-right: none;
            }

            #action ul li.last, #action ul li.last a {
                -webkit-border-top-right-radius: 0;
                -moz-border-radius-topright: 0;
                -o-border-radius-topright: 0;
                border-top-right-radius: 0;
                -webkit-border-bottom-right-radius: 0;
                -moz-border-radius-bottomright: 0;
                -o-border-radius-bottomright: 0;
                border-bottom-right-radius: 0;
                border-right: none;
            }

    #action ul {
        display: inline-block;
        margin: 0 auto;
        padding: 0;
    }

        #action ul li {
            display: block;
            float: left;
            height: 50px;
            padding: 0 10px !important;
            margin: 2px auto;
        }

            #action ul li i {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 125px;
                height: 50px;
            }

            #action ul li.facebook-action i {
                background-image: url("/assets/images/logos/sm/facebook.png");
            }

            #action ul li.facebook-action .fb_iframe_widget {
                padding: 8px 0;
            }

                #action ul li.facebook-action .fb_iframe_widget iframe {
                    position: absolute;
                    z-index: 999;
                }

            #action ul li.twitter-action i {
                background-image: url("/assets/images/logos/sm/twitter.png");
            }

            #action ul li.twitter-action iframe {
                margin-top: 10px;
            }

            #action ul li.googleplus-action i {
                background-image: url("/assets/images/logos/sm/googleplus.png");
            }

            #action ul li.googleplus-action .link-wrap {
                margin-top: 9px;
                max-width: 100%;
            }

            #action ul li.instagram-action i {
                background-image: url("/assets/images/logos/sm/instagram.png");
            }

            #action ul li.instagram-action .link-wrap {
                margin-top: 14px;
                max-width: 100%;
            }

@media (max-width: 767px) {
    #super-container #action ul {
        list-style: none;
        list-style-type: none;
        display: block;
        margin: 0;
        padding: 0;
    }

        #super-container #action ul li {
            list-style: none;
            list-style-image: none;
            position: relative;
            float: none;
            margin: 0;
            padding: 0;
            text-align: left;
            border-left: none;
            border-right: none;
        }

    #super-container #action ul {
        border-bottom: 1px solid #fff;
        border-top: 1px solid #d1d1d1;
    }

        #super-container #action ul li {
            border-top: 1px solid #fff;
            border-bottom: 1px solid #d1d1d1;
        }
}

#modal-social-module {
    text-align: left;
}

    #modal-social-module .modal-header .title {
        text-align: left;
        display: block;
    }

    #modal-social-module ul {
        list-style: none;
        list-style-type: none;
        display: block;
        margin: 0;
        padding: 0;
    }

        #modal-social-module ul li {
            list-style: none;
            list-style-image: none;
            position: relative;
            float: none;
            margin: 0;
            padding: 0;
            text-align: left;
            border-left: none;
            border-right: none;
        }

        #modal-social-module ul li {
            border-bottom: 1px solid #eee;
        }

            #modal-social-module ul li:first-child, #modal-social-module ul li:first-child a {
                -webkit-border-top-left-radius: 0;
                -moz-border-radius-topleft: 0;
                -o-border-radius-topleft: 0;
                border-top-left-radius: 0;
                -webkit-border-top-right-radius: 0;
                -moz-border-radius-topright: 0;
                -o-border-radius-topright: 0;
                border-top-right-radius: 0;
                border-top: none;
            }

            #modal-social-module ul li.first, #modal-social-module ul li.first a {
                -webkit-border-top-left-radius: 0;
                -moz-border-radius-topleft: 0;
                -o-border-radius-topleft: 0;
                border-top-left-radius: 0;
                -webkit-border-top-right-radius: 0;
                -moz-border-radius-topright: 0;
                -o-border-radius-topright: 0;
                border-top-right-radius: 0;
                border-top: none;
            }

            #modal-social-module ul li:last-child, #modal-social-module ul li:last-child a {
                -webkit-border-bottom-left-radius: 0;
                -moz-border-radius-bottomleft: 0;
                -o-border-radius-bottomleft: 0;
                border-bottom-left-radius: 0;
                -webkit-border-bottom-right-radius: 0;
                -moz-border-radius-bottomright: 0;
                -o-border-radius-bottomright: 0;
                border-bottom-right-radius: 0;
                border-bottom: none;
            }

            #modal-social-module ul li.last, #modal-social-module ul li.last a {
                -webkit-border-bottom-left-radius: 0;
                -moz-border-radius-bottomleft: 0;
                -o-border-radius-bottomleft: 0;
                border-bottom-left-radius: 0;
                -webkit-border-bottom-right-radius: 0;
                -moz-border-radius-bottomright: 0;
                -o-border-radius-bottomright: 0;
                border-bottom-right-radius: 0;
                border-bottom: none;
            }

        #modal-social-module ul li {
            position: relative;
            height: 100px;
            background: #ffffff;
            padding-left: 250px;
        }

            #modal-social-module ul li i {
                position: absolute;
                top: 0;
                left: 0;
                width: 250px;
                height: 100px;
            }

            #modal-social-module ul li.facebook i {
                background-image: url("/assets/images/logos/lg/facebook.png");
            }

            #modal-social-module ul li.facebook .fb_iframe_widget {
                padding: 34px 0;
            }

                #modal-social-module ul li.facebook .fb_iframe_widget iframe {
                    position: absolute;
                    z-index: 999;
                }

            #modal-social-module ul li.twitter i {
                background-image: url("/assets/images/logos/lg/twitter.png");
            }

            #modal-social-module ul li.twitter iframe {
                margin-top: 40px;
            }

            #modal-social-module ul li.googleplus i {
                background-image: url("/assets/images/logos/lg/googleplus.png");
            }

            #modal-social-module ul li.googleplus .link-wrap {
                margin-top: 6px;
                display: inline-block;
                max-width: 100%;
                overflow: hidden;
            }

                #modal-social-module ul li.googleplus .link-wrap #___plus_0 {
                    margin: -1px !important;
                    height: 84px !important;
                    overflow: hidden;
                }

            #modal-social-module ul li.instagram i {
                background-image: url("/assets/images/logos/sm/instagram.png");
            }

            #modal-social-module ul li.instagram .link-wrap {
                margin-top: 14px;
                max-width: 100%;
            }

    #action .alert, #modal-social-module .alert {
        line-height: 100% !important;
        margin: 10px 0;
        text-align: left;
    }

#survey {
    padding: 1px 15px 30px;
}

    #survey .question {
        padding-bottom: 15px;
    }

    #survey .extra-text {
        background-color: #ccc !important;
        border: none !important;
        padding: 0 10px !important;
    }

    #survey .custom-rating-scale {
        position: relative;
        padding-left: 15px;
    }

        #survey .custom-rating-scale .rating-label {
            border: 1px solid #cccccc;
            color: #555555;
            font-size: 14px;
            display: inline-block;
            padding: 10px 0;
            text-align: center;
            width: 42px;
            border-radius: 25px;
            -moz-border-radius: 25px;
            cursor: pointer;
        }

        #survey .custom-rating-scale:hover .rating-label {
            background: #f6f6f6;
        }

        #survey .custom-rating-scale .rating-input {
            display: none;
        }

            #survey .custom-rating-scale .rating-input:checked ~ .rating-label {
                background-color: #dff0d8;
                border-color: #468847;
                color: #4a6;
            }

        #survey .custom-rating-scale:hover .rating-label:hover, #survey .custom-rating-scale:hover .rating-label:hover ~ .rating-label {
            background-color: #dff0d8 !important;
            border-color: #468847 !important;
            color: #4a6 !important;
        }

        #survey .custom-rating-scale .rating-input.error ~ .rating-label {
            background-color: #f2dede;
            border-color: #b94a48;
            color: #d64;
        }

    #survey .custom-radio:hover .radio-label {
        background: #f6f6f6;
    }

    #survey .custom-radio .radio-label {
        font-size: 16px;
        font-weight: 300;
    }

        #survey .custom-radio .radio-label .label-text {
            position: relative;
            top: -7px;
            margin-top: 7px;
            display: inline-block;
        }

    #survey .custom-radio input[type="radio"], #survey .custom-radio input[type="checkbox"] {
        display: none !important;
    }

        #survey .custom-radio input[type="radio"] ~ label:not(.error), #survey .custom-radio input[type="checkbox"] ~ label:not(.error) {
            position: relative;
            display: block;
            padding: 10px;
            margin: 10px;
            border: 1px solid #cccccc;
            color: #555555;
            -webkit-border-radius: 7px;
            -khtml-border-radius: 7px;
            -moz-border-radius: 7px;
            -o-border-radius: 7px;
            border-radius: 7px;
        }

            #survey .custom-radio input[type="radio"] ~ label:not(.error):hover, #survey .custom-radio input[type="checkbox"] ~ label:not(.error):hover, #survey .custom-radio input[type="radio"] ~ label:not(.error).hover, #survey .custom-radio input[type="checkbox"] ~ label:not(.error).hover {
                color: #4a6;
                background-color: #dff0d8;
                border-color: #468847;
            }

                #survey .custom-radio input[type="radio"] ~ label:not(.error):hover:before, #survey .custom-radio input[type="checkbox"] ~ label:not(.error):hover:before, #survey .custom-radio input[type="radio"] ~ label:not(.error).hover:before, #survey .custom-radio input[type="checkbox"] ~ label:not(.error).hover:before {
                    background-color: transparent;
                    color: #4a6;
                }

        #survey .custom-radio input[type="radio"]:checked + label:not(.error), #survey .custom-radio input[type="radio"]:checked ~ label.error + label:not(.error), #survey .custom-radio input[type="checkbox"]:checked + label:not(.error), #survey .custom-radio input[type="checkbox"]:checked ~ label.error + label:not(.error) {
            color: #4a6;
        }

        #survey .custom-radio input[type="radio"] ~ label:not(.error):before, #survey .custom-radio input[type="checkbox"] ~ label:not(.error):before {
            display: inline-block;
            font-family: FontAwesome;
            font-size: 36px;
            line-height: 36px;
            width: 36px;
            color: #aaaaaa;
        }

        #survey .custom-radio input[type="radio"] ~ label:not(.error):before, #survey .custom-radio input[type="checkbox"] ~ label:not(.error):before {
            content: "\f10c";
        }

        #survey .custom-radio input[type="checkbox"] ~ label:not(.error):before {
            content: "\f096";
        }

        #survey .custom-radio input[type="radio"]:checked + label:not(.error):before, #survey .custom-radio input[type="radio"]:checked ~ label.error + label:not(.error):before {
            content: "\f05d";
        }

        #survey .custom-radio input[type="checkbox"]:checked + label:not(.error):before, #survey .custom-radio input[type="checkbox"]:checked ~ label.error + label:not(.error):before {
            content: "\f046";
        }

        #survey .custom-radio input[type="radio"]:checked + label:not(.error), #survey .custom-radio input[type="radio"]:checked ~ label.error + label:not(.error), #survey .custom-radio input[type="checkbox"]:checked + label:not(.error), #survey .custom-radio input[type="checkbox"]:checked ~ label.error + label:not(.error) {
            color: #4a6;
            background-color: #dff0d8;
            border-color: #468847;
        }

            #survey .custom-radio input[type="radio"]:checked + label:not(.error):before, #survey .custom-radio input[type="radio"]:checked ~ label.error + label:not(.error):before, #survey .custom-radio input[type="checkbox"]:checked + label:not(.error):before, #survey .custom-radio input[type="checkbox"]:checked ~ label.error + label:not(.error):before {
                color: #4a6;
            }

    #survey .custom-radio input.error[type="radio"] ~ label, #survey .custom-radio input.error[type="radio"] ~ label:before, #survey .custom-radio input.error[type="checkbox"] ~ label, #survey .custom-radio input.error[type="checkbox"] ~ label:before {
        background-color: #f2dede;
        border-color: #b94a48;
        color: #d64;
    }

#action {
    background-image: -moz-linear-gradient(top, #fff 0, #ededed 100%);
    background-image: -ms-linear-gradient(top, #fff 0, #ededed 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ededed));
    background-image: -webkit-linear-gradient(top, #fff 0, #ededed 100%);
    background-image: -o-linear-gradient(top, #fff 0, #ededed 100%);
    background-image: linear-gradient(top, #fff 0, #ededed 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
    zoom: 1;
}

#multilingual {
    margin: 10px;
}

#content {
    text-align: center;
}

    #content .container {
        position: relative;
        padding-top: 34px;
        overflow: hidden;
    }

        #content .container:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: auto;
            width: 960px;
            height: 24px;
            background: transparent url("../Images/stylesheet-no-repeat.png") 0 0 no-repeat

        }

    #content #content-container {
        padding-bottom: 40px;
    }

    #content #preface {
        padding: 10px 10px 0;
    }

    #content #brand {
        padding: 10px 10px 30px;
    }

html, body, #super-container {
    height: 100%;
}

#super-content {
    min-height: 100%;
    height: 100%;
    height: auto;
    margin: 0 auto -120px;
}

#footer, #push-footer {
    height: 120px;
}

    #footer .seal {
        padding: 10px 0;
        text-align: center;
        font-size: 14px;
    }

        #footer .seal a {
            text-decoration: underline;
        }

            #footer .seal a:hover {
                text-decoration: none;
            }






@media (max-width: 767px) {


    #stars ul li .link-wrap a {
    width: 60px;
    height: 60px;
}

  

        #stars ul li .link-wrap a:hover {
            width: 60px;
    height: 60px;
        }

    #stars ul li {
         background-position: -310px -250px;
    }

        #stars ul li:hover {
            background-position: -250px -250px;
        }

          #stars ul:hover .star:hover, #stars ul.hover .star:hover, #stars ul:hover .star:hover ~ .star, #stars ul.hover .star:hover ~ .star {
           background-position: -250px -250px;
        }
} 